body {
    background-color: rgb(120, 122, 22);
}
h1{
    color:red
}
.secundaria{
    color:green;
}
h2{
    color:chartreuse;
}
.resaltar{
    color:blueviolet
}
.parrafo {
    font-size:25px;
    font-family: 'Courier New', Courier, monospace
}
    .contenedor{
        width:800px;
        height: 200px;
margin: 40px;
padding: 30px;
border: 3px dotted black
    }
.foto {
    width:800px;
        height: 300px;
padding: 50px;
border: 1px dotted rgb(0, 0, 0)
}


